@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Syne+Mono&display=swap');

* {box-sizing: border-box;}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-weight: 100;
    margin: 20px 0 50px 0;
}

.background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 720px;
    height: 600px;
    border: 1px solid black;
}

.border {
    width: 516px;
    height: 516px;
    border: 2px solid #aaa;

}

.controls {
    display: flex;
    flex-direction: column;
    border: 2px solid #aaa;
}

.control-button {
    padding: 8px 16px;
    margin: 20px;
    background-color: #fcf2f0;
}

.container {
    width: 512px;
    display: flex;
    flex-wrap: wrap;
}

.square-div {
    width: 16px;
    height: 16px;
    background-color: #fcf2f0;
    border: 1px solid #d3d3d3;
}