@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Syne+Mono&display=swap');

* {box-sizing: border-box;}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf2f0;
}

h1 {
    font-family: 'Syne Mono', monospace;
    font-weight: 100;
    margin: 20px 0;
}

p, button {
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
}

button {
    border-radius: 1px;
}

.background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 720px;
    height: 600px;
    background-color: #B4B4A0;
    border-radius: 5px;
}

.border {
    width: 516px;
    height: 516px;
    border: 2px solid #aaa;

}

.controls {
    display: flex;
    flex-direction: column;
    background-color: #707064;
    border-radius: 3px;
}

.color-button, .control-button {
    padding: 8px 16px;
    margin: 20px;
    background-color: #fcf2f0;
}

.container {
    width: 512px;
    display: flex;
    flex-wrap: wrap;
}

.square-div {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.remove-grid {
    border: 0;
}

#gray, #grid {
    color: #fcf2f0;
    background-color: #C13E22;
}